doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/Masonry/reset.css')
    link(rel='stylesheet', href='/stylesheets/Masonry/main.css')
 

    style(type='text/css')
      html {
        background: #efefef
      }
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      h1 {
        font-size: 30px
      }
     
  body
    block mycontent
    script(type='text/javascript',src='/javascripts/Masonry/jquery-1.8.3.min.js')
    script(type='text/javascript',src='/javascripts/Masonry/modernizr.custom.68383.js')
    script(type='text/javascript',src='/javascripts/Masonry/jquery.infinitescroll.js')
    script(type='text/javascript',src='/javascripts/Masonry/jquery.masonry.min.js')
    
    script(type='text/javascript',src='/javascripts/Masonry/main.js')  